/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

$orange: #FF8872;
$orange-hover: #E57B67;
$darkblue: #2D4767;
$lightgrey: #F4F3F3;
$lightorange:  #F8C2B8;
$white: #FFFFFF;

$header-height: 50px;

$primary-color: $orange;
$primary-color-hover: $orange-hover;
$secondary-color: $darkblue;
$primary-font: Lato;
$secondary-font: Arvo;

h1{
  padding-left: 10px;
  font-family: $secondary-font;
  color: $primary-color;
  font-weight: 700;
}

h2{
  padding-left: 10px;
  color: $secondary-color;
  font-family: $primary-font;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: normal; 
  margin: 0;
  text-transform: uppercase;
}

h3{
  padding-left: 10px;
  color: $primary-color;
  font-family: $secondary-font;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

h4{
  font-family: $primary-font;
  font-size: 24px;
  text-transform: uppercase;
  color: $secondary-color;
}

.content-centered{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

span{
  font-family: $primary-font;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
  color: $secondary-color;
}

.primary-btn{
  color: $white;
  background-color: $primary-color;
}

.primary-btn:hover{
  background-color: $primary-color-hover;
  color: $white;
}

p{
  margin: 0;
  padding: 0;
  padding-left: 5px;
}

.clickable {
  cursor: pointer;
}