@use '/src/styles.scss' as app;

$max-width: 400px;
$max-height: 500px;

.carousel-container{
  height: 100%;
  //max-width: $max-width;
}

.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  //max-width: $max-width;
  //max-height: $max-height;
}

@media (orientation: portrait) {
  .img-container{
    max-width: 200px;
    max-height: 200px;
  }
}

.carousel-img{
  max-width: $max-width;
  max-height: $max-height;
}

.carousel-caption{
  background-color: rgba(244,243,243, 0.9);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caption{
  color: app.$secondary-color;
  font-family: app.$secondary-font;
  
}

.solo-img{
  max-width: 100%;
}

@media (orientation: portrait){
  .solo-img{
    max-width: 200px;
  }
}