@use '/src/styles.scss' as app;

$logo-size: 24px;
$contact-list-width: 100px;
$orange-line-height: 2px;
$orange-line-margin: 50px;
$main-margin-top: 50px;

.custom-navbar{
  padding: 20px 20px;
}

.bg{
  background-color: app.$lightgrey;
}

.full-page{
  width: 100%;
  padding: 20px;
}

@media (orientation: portrait){
  .full-page{
    padding: 10px;
  }
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: app.$header-height;
  z-index: 3;
  background-color: app.$white;
}

.orange-line{
  background-color: app.$primary-color;
  height: $orange-line-height;
  width: calc(100% - 2*$orange-line-margin);
  border-radius: 20px;
}

main {
  margin-top: $main-margin-top;
  height: calc(100vh - app.$header-height);
  width: 100%;
  padding: 0 10% 0 10%;
  display: inline-block;
}

.site-header{
  height: calc(100% - $orange-line-height);
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 5px 50px 1px 50px;
}

.header-left-side {
  width: calc(100% - $contact-list-width);
  display: flex;
}

.title-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;

  .main-logo{
    border-radius: 50%;
    max-height: $logo-size;
    max-width: $logo-size;
    vertical-align: center;
  }
}

nav{
  display: flex;
  justify-content: left;
  align-items: center;
}

nav .separator{
  height: 50%;
  width: 1px;
  border-radius: 10px;
  background-color: app.$secondary-color;
}

nav .nav-item {
  color: app.$secondary-color;
  font-family: app.$primary-font;
  padding: 0 10px;
  min-width: 30px;
}

nav .nav-item .clickable-zone {
  padding-left: 5px;
}

nav .nav-item .item-title {
  padding-left: 5px;
}

nav .nav-item:hover{
  transform: scale(1.1);
}

.contact-list {
  width: $contact-list-width;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.contact-list .contact-item {
  color: app.$secondary-color;
}

.contact-item a {
  color: app.$secondary-color !important;
  padding: 0 10px;
}

.category-btn{
  height: 100%;
  //width: 50px;
  aspect-ratio: 1/1;
  background-color: app.$primary-color;
  color: app.$white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.category-btn:hover{
  background-color: app.$primary-color-hover;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile-img-container{
    height: auto;
    width: 100%;
  }
}

.profile-img{
  max-height: 100%;
  max-width: 100%;
  clip-path:ellipse(50% 50%);
}

.download-btn-container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-container {
  margin-top: 50px;
}

.project-card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.project-text-container {
  padding-left: 10%;
  width: 80%;
}

.project-description{
  max-width: 400px;
  font-size: 16px;
  text-align: justify;
  color: app.$secondary-color;
  padding-bottom: 10px;
}

.font-size-14{
  font-size: 14px;
}

.techno-tag {
  
}

.techno-tag .techno-name{
  font-size: 13px;
}

.carousel-box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 40%;
}

.mail-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.mail{
  cursor: pointer;
}

.hobbies-table{
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.hobby-card-container{
  height: 100%;
  width: 100%;
  padding: 5px;
}

.hobby-card{
  height: 150px;
  width: 100%;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgba(0,0,0,0);
  padding: 10px;
  transform: scale(0.8);
}



.hobby-card:hover{
  transform: scale(1);
  opacity: 1;
  color: app.$white;
}

.hobby-content{
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
}

.hobby-content:hover{
  opacity: 1;
}

.hobby-title{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hobby-name{
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hobby-description{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.return-home{
  position: fixed;
  bottom: 1%;
  right: 1%;
  color: app.$white;
  height: 50px;
  width: 50px;
  z-index: 100;
  border-radius: 100%;
  padding: 5px;
  background-color: app.$primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.return-home:hover{
  background-color: app.$primary-color-hover;
}

article {
  height: calc(100vh - $main-margin-top);
  width: 100%;
}

.about-container {
  display: flex;
  flex-direction: row;
}

.about-left-side {
  display: flex;
  padding-top: 10%;
  height: 100%;
  width: 40%;
  flex-grow: 0;
}

.frame-container{
  max-height: 300px;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img-container{
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;
  border: 3px solid app.$primary-color;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-right-side {
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: right;
  padding-top: 10%;
  padding-right: 20px;
  flex-grow: 1;
}

.thanks-container {
  height: 100%;
  width: 100%;
  padding-top: 10%;
}

