<header>
  <div class="site-header">
    <div class="header-left-side">
      <div class="title-container">
        <img class="main-logo" src="../assets/TV/TV_logo.png" alt="TV_logo">
        <h3>Thomas Vivier</h3>
        <!--<h2>Ingénieur Full-Stack</h2>-->
      </div>
      <nav>
        <div class="separator"></div>
        <div class="nav-item">
          <div class="clickable clickable-zone" (click)="goTo('about')">
            <fa-icon [icon]="faAdressCard" [size]="'1x'"></fa-icon>
            <span class="item-title">A propos</span>
          </div>
        </div>
        <div class="nav-item">
          <div class="clickable clickable-zone" (click)="goTo('projects')">
            <fa-icon [icon]="faDiagramProject" [size]="'1x'"></fa-icon>
            <span class="item-title">Projets</span>
          </div>
        </div>
        <!--<div class="nav-item">
          <div class="clickable clickable-zone" (click)="goTo('hobbies')">
            <fa-icon [icon]="faPalette" [size]="'1x'"></fa-icon>
            <span class="item-title">Loisirs</span>
          </div>
        </div>-->
      </nav>
    </div>
    <div class="contact-list">
      <div class="contact-item">
        <a class="clickable clickable-zone" href="https://www.linkedin.com/in/thomas-vivier-a659a01b7" target="_blank">
          <fa-icon [icon]="faLinkedin" [size]="'lg'"></fa-icon>
        </a>
      </div>
      <div class="contact-item">
        <a class="clickable clickable-zone" href="https://github.com/TomViiv" target="_blank">
          <fa-icon [icon]="faGitHub" [size]="'lg'"></fa-icon>
        </a>
      </div>
      <div class="contact-item">
        <a class="clickable clickable-zone" (click)="utils.copyMail()">
          <fa-icon [icon]="faEnvelope" [size]="'lg'"></fa-icon>
        </a>
      </div>
    </div>
  </div>
  <div class="content-centered">
    <div class="orange-line"></div>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer></footer>

<div class="return-home" (click)="goTo('about')">
  <fa-icon [icon]="faHouse"></fa-icon>
</div>