<div class="timeline-container">
  <div class="date-container">
    <span class="date">{{date}}</span>
  </div>
  <div class="timeline-item">
    <div class="timeline-item-graph"></div>
    <div class="timeline-item-description" [ngClass]="hasBg ? 'description-bg' : ''">
      <!--<div>
        <h4></h4>
      </div>-->
        <span class="timeline-item-title">
            <!--<ng-content #icon></ng-content>
            {{title || "sans-titre"}}-->
        </span>
        <ng-content></ng-content>
    </div>
  </div>
</div>
